body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background-color: #000000;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-left: 160px;
  padding-right: 160px;
}
header ul {
  display: flex;
  list-style: none;
}
header ul li {
  padding: 0 25px;
}
header a {
  text-decoration: none;
  color: #fff;
}
header ul li a:hover {
  background-color: #e6533c;
  border-radius: 46px;
  padding: 8px 20px;
}

header .logo {
  color: #e6533c;
  width: 800;
  font-size: 36px;
  font-style: italic;
}
header ul li a.active {
  background-color: #e6533c;
  border-radius: 46px;
  padding: 8px 20px;
}
/* header end */
/* banner start */
.text {
  color: #fff;
  max-width: 600px;
}
.text h1 {
  font-size: 78px;
  width: 900px;
  font-style: italic;
  font-weight: 900;
}
.banner span {
  font-weight: 400;
  font-style: italic;
}
.btn {
  padding: 16px 40px;
  border-radius: 42px;
  border: none;
  background-color: #e6533c;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-right: 14px;
}
.btn2 {
  padding: 16px 40px;
  border-radius: 42px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  border: solid 1px #fff;
}
.banner {
  display: flex;
  padding: 0 190px;
  justify-content: space-between;
}

/* banner end */
